@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #eb1c1c;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
/*Navbar Links*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}
